<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Formulário de Carteira</title>
</head>
<body>
<h1 th:text="${titulo}">Título</h1>
<p th:text="${paragrafo}">Parágrafo</p>

<form th:action="@{/carteira}" th:object="${carteira}" method="post">
    <input type="hidden" th:field="*{usuarioId}" />

    <label>Nome da Carteira:</label>
    <input type="text" th:field="*{name}" placeholder="Digite o nome da carteira" />

    <label>Tipo de Carteira:</label>
    <select th:field="*{tipo}">
        <option value="POUPANCA">Poupança</option>
        <option value="INVESTIMENTO">Investimento</option>
        <option value="APOSENTADORIA">Aposentadoria</option>
        <option value="RENDA_FIXA">Renda Fixa</option>
        <option value="RENDA_VARIAVEL">Renda Variável</option>
        <option value="CRIPTOMOEDAS">Criptomoedas</option>
        <option value="IMOBILIARIO">Imobiliário</option>
        <option value="EMERGENCIA">Emergência</option>
    </select>

    <button type="submit">Salvar Carteira</button>
</form>

</body>
</html>
