<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Formulário de Investimento</title>
</head>
<body>
<h1 th:text="${titulo}">Título</h1>
<p th:text="${paragrafo}">Parágrafo</p>

<form th:action="@{/carteira/{carteiraId}/investimentos(id=${carteiraId})}" method="post">
    <input type="hidden" name="carteiraId" th:value="${carteiraId}" />

    <label>Ativo:</label>
    <select name="ativoId">
        <th:block th:each="ativo : ${ativos}">
            <option th:value="${ativo.id}" th:text="${ativo.nome}">Nome do Ativo</option>
        </th:block>
    </select>

    <label>Valor:</label>
    <input type="number" name="valor" step="0.01" placeholder="Digite o valor" />

    <label>Quantidade:</label>
    <input type="number" name="quantidade" step="0.01" placeholder="Digite a quantidade" />

    <label>Data da Compra:</label>
    <input type="date" name="dataCompra" />

    <button type="submit">Salvar Investimento</button>
</form>

</body>
</html>
