<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Formulário de Usuário</title>
</head>
<body>
<h1 th:text="${titulo}">Titulo</h1>
<p th:text="${paragrafo}">Parágrafo</p>

<form th:action="@{/formulario}" th:object="${usuario}" method="post">
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" />

    <label>Email:</label>
    <input type="email" th:field="*{email}" />

    <label>Senha:</label>
    <input type="password" th:field="*{senha}" />

    <button type="submit">Salvar</button>
</form>

</body>
</html>
