<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Selecionar Ativos</title>
</head>
<body>
<h1 th:text="${titulo}">Título</h1>
<p th:text="${paragrafo}">Parágrafo</p>

<form th:action="@{/carteira/{carteiraId}/ativos(id=${carteiraId})}" method="post">
    <input type="hidden" name="carteiraId" th:value="${carteiraId}" />

    <ul>
        <th:block th:each="ativo : ${ativos}">
            <li>
                <label>
                    <input type="checkbox" name="ativosIds" th:value="${ativo.id}" />
                    <span th:text="${ativo.nome}">Nome do Ativo</span> -
                    <span th:text="${ativo.tipo}">Tipo do Ativo</span>
                </label>
            </li>
        </th:block>
    </ul>

    <button type="submit">Adicionar Ativos</button>
</form>

</body>
</html>
