# Diretórios de build
out/
target/

# Arquivos e pastas específicos da IDE
.idea/
*.iml
*.class

# Arquivos de log e temporários
*.log
*.tmp

# Arquivos de sistema e temporários
.DS_Store
Thumbs.db

# Outras configurações específicas
shelf/
workspace.xml

